#com_sppad_scrollProgress[source="com_sppad_scrollprogress_zoom"],
#com_sppad_scrollProgress[source="com_sppad_scrollprogress_scroll"] {
	transition-property: opacity;
	transition-timing-function: ease-out;
}

#com_sppad_scrollProgress[source="com_sppad_scrollprogress_zoom"][com_sppad_scrollprogress_hide="fadeout"] {
	opacity: 0 !important;
    transition-delay: 1.0s;
}

#com_sppad_scrollProgress[source="com_sppad_scrollprogress_scroll"][com_sppad_scrollprogress_hide="fadeout"] {
	opacity: 0 !important;
    transition-delay: 0.4s;
}

#com_sppad_scrollProgress:not([source]),
#com_sppad_scrollProgress[source="com_sppad_scrollprogress_zoom"][com_sppad_scrollprogress_hide="now"],
#com_sppad_scrollProgress[source="com_sppad_scrollprogress_scroll"][com_sppad_scrollprogress_hide="now"] {
	visibility: hidden;
}